In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [16]:
# Importing the dataset
df = pd.read_csv('marriage_proposal.csv')
df

,Height,Age,Income,RomanticGestureScore,CompatibilityScore,CommunicationScore,DistanceKM,Response,AgeCategory
0,156,59,7977,3,1,1,45,1,Senior
1,169,32,5842,0,1,5,46,1,Middle-aged
2,178,42,17638,2,5,5,13,0,Middle-aged
3,164,78,8793,0,0,7,52,0,Senior
4,160,35,15262,6,0,0,9,1,Middle-aged
...,...,...,...,...,...,...,...,...,...
9995,162,76,12311,4,1,5,75,1,Senior
9996,162,75,6459,7,9,0,52,1,Senior
9997,166,70,9231,9,4,6,33,0,Senior
9998,176,78,12656,8,9,5,25,1,Senior
9999,156,68,5812,0,9,4,14,1,Senior

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Height                10000 non-null  int64
 1   Age                   10000 non-null  int64
 2   Income                10000 non-null  int64
 3   RomanticGestureScore  10000 non-null  int64
 4   CompatibilityScore    10000 non-null  int64
 5   CommunicationScore    10000 non-null  int64
 6   DistanceKM            10000 non-null  int64
 7   Response              10000 non-null  int64
 8   AgeCategory           9847 non-null   object
dtypes: int64(8), object(1)
memory usage: 703.3+ KB

In [18]:
df.nunique()

Height                    31
Age                       61
Income                  7307
RomanticGestureScore      11
CompatibilityScore        10
CommunicationScore        10
DistanceKM                99
Response                   2
AgeCategory                3
dtype: int64

In [19]:
encoded_data = pd.get_dummies(df['AgeCategory'], prefix='AgeCategory')
df = pd.concat([df, encoded_data], axis=1)

In [20]:
df

,Height,Age,Income,RomanticGestureScore,CompatibilityScore,CommunicationScore,DistanceKM,Response,AgeCategory,AgeCategory_Middle-aged,AgeCategory_Senior,AgeCategory_Young
0,156,59,7977,3,1,1,45,1,Senior,False,True,False
1,169,32,5842,0,1,5,46,1,Middle-aged,True,False,False
2,178,42,17638,2,5,5,13,0,Middle-aged,True,False,False
3,164,78,8793,0,0,7,52,0,Senior,False,True,False
4,160,35,15262,6,0,0,9,1,Middle-aged,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,162,76,12311,4,1,5,75,1,Senior,False,True,False
9996,162,75,6459,7,9,0,52,1,Senior,False,True,False
9997,166,70,9231,9,4,6,33,0,Senior,False,True,False
9998,176,78,12656,8,9,5,25,1,Senior,False,True,False
9999,156,68,5812,0,9,4,14,1,Senior,False,True,False

In [21]:
X = df.iloc[:, [1, 7]].values
y = df.iloc[:, 2].values

In [22]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [23]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(random_state=0) # for non-linear model use this parametre kernel='rbf'
classifier.fit(X_train, y_train)

SVC(random_state=0)

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
from matplotlib.colors import ListedColormap
X_set, y_set = X_train, y_train
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))

In [ ]:
# Visualising the Training set results
X_set, y_set = X_train, y_train

# Membuat meshgrid untuk membuat plot wilayah prediksi
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))

# Membuat plot wilayah prediksi
plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = 'coolwarm')  # Menggunakan peta warna 'coolwarm'

# Plot setiap kelas pada set data latih
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                color = ['red', 'green'][i], label = j)  # Menggunakan warna langsung

plt.title('Classifier (Training set)')
plt.xlabel('Age')
plt.ylabel('Income')
plt.legend()
plt.show()

In [ ]:
plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Classifier (Training set)')
plt.xlabel('Age')
plt.ylabel('AIncome')
plt.legend()
plt.show()